{% extends 'registration/base.html' %}
{% block content %}
  {% load static %}
  <div class="container mt-5">
    <section id="part1" class="mainheading">
     <div class="container pb-3 pt-3 text-center">
     <h1 class="indexheading">Welcome to KMU DigiACT Waste,<br/>your digital platform for increasing resource efficiency.</h1>
     <p>Our aim is to help small and medium-sized enterprises(SMEs) to recognize and exploit their waste prevention and recycling potential.</p>
   </div>
 </section> 
</div> 
{% endblock %}
